<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <h1>Sign in</h1>
    <%= form_for @user, url: '/users/sign_in' do |f| %>
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <input type="checkbox" value="1" name='user[remember_me]' id="remember">
        <label class="form-check-label" for="remember">
          Remember me
        </label></br> 
      <label><a href="/users/forgot_password"><ab>Forgot your password?</ab></a></label></br>
      <%= f.submit 'Sign in', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
