<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <h1>Edit profile</h1>
    <%= form_for @user, url: '/users/profile/edit' do |f| %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <div class='form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: current_user.name, value: current_user.name %>
      </div>
      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <span class="picture">
          <%= f.file_field :picture %>
        </span>
      </div>
      <input type='hidden' name='user[email]' value='<%= params[:email] %>' >
      <%= f.submit 'Edit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
