<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <h1>Reset password</h1>
    <%= form_for @user, url: '/users/forgot_password' do |f| %>
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <%= f.submit 'Reset password', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
