<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <h1>Profile</h1>
      <p><h2>Name: <%= current_user.name %><h2></p>
      <p><h2>Email:<%= current_user.email%></h2></p>
      <a href="/users/profile/edit"><button type="button" class="btn btn-info">Edit profile</button></a>
  </div>
</div>
