<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <h1>Reset password</h1>
    <%= form_for @user, url: params[:token] do |f| %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <input type='hidden' name='user[email]' value='<%= params[:email] %>' >
      <%= f.submit 'Change password', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
