<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <h1>Create post</h1>
    <%= form_for @post, url: posts_path do |f| %>
      <div class='form-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <span class="picture">
        <%= f.file_field :picture %>
      </span>
      <%= f.submit 'Create post', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
