<div class="media" >
  <img class="mr-3" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167f28eee7d%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167f28eee7d%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
  <div class="media-body">
    <ab>
      <h5><%= @post.user.name %></h5>
      <%= @post.content %>
    </ab>
  </div>
</div>

<%= form_for @comment, url: comments_path, remote: true do |f| %>
  <%= f.text_field :micropost_id, value: @post.id, type: 'hidden' %>
  <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
  <div class='form-group'>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <%= f.submit 'Comment', class: 'btn btn-primary' %>
<% end %>


<%@comments.each do|comment|%>
<h5><%=comment.user.name%></h5>
<ul>
  <li><%= comment.content%></li>
</ul>
<%end%>
