<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/posts">Post<span class="sr-only">(current)</span></a>
      </li>
      <% if current_user.present? %>
      <li class="nav-item">
        <a class="nav-link" href="/users/profile"><%= current_user.name %><span class="sr-only">(current)</span></a>
      </li>
        <li>
          <%= link_to 'Sign out', sign_out_path, class: 'nav-link', method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% else %>
        <% if @link == 'home' %>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <% end %>

        <% if @link == 'sign_up' %>
        <li class="nav-item active">
          <%= link_to 'Sign up', sign_up_path, class: 'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Sign up', sign_up_path, class: 'nav-link' %>
        </li>
        <% end %>

        <% if @link == 'sign_in' %>
          <li class="nav-item active">
            <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
          </li>
        <%else%>
          <li class="nav-item">
            <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
          </li>
        <%end%>
      <% end %>
    </ul>
  </div>
</nav>
